{% extends 'base.html.twig' %}
{% block title %}Forgotten password{% endblock %}
{% block body %}
    <h1>Forgotten password</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button class="btn btn-primary">Send link</button>
    {{ form_end(form) }}
{% endblock %}
