body {
    background-color: skyblue;
}

.entete{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 20px;
    font-family: 'Comic Sans MS', sans-serif;
    background: linear-gradient(45deg, #ff6ec7, #fddb92, #6ee7ff);
}

.entete nav a {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}
