{% extends 'base.html.twig' %}

{% block title %}Creer une Sortie!{% endblock %}

{% block body %}
    <h1>Editer une Sortie</h1>
    <div class="row justify-content-center">
        <div class="col-6">
            {{ form(sortie_form) }}
        </div>
    </div>
{% endblock %}