<?php

<p>Hello {{ user.pseudo ?? user.email }},</p>
<p>You have requested to reset your password.</p>
<p>Please click on the following link (valid until {{ expiresAt|date('d/m/Y H:i') }}):</p>
<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
<p>If you are not the originator of this request, please ignore this email.</p>
