<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="#">Sorties</a>
            <a href="#">Login</a>
        </nav>
        <main class="container">
            {% block body %}{% endblock %}
        </main>

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
