{% extends 'base.html.twig' %}
{% block title %}New password{% endblock %}
{% block body %}
    <h1>Choose a new password</h1>
    {{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button class="btn btn-success">Update</button>
    {{ form_end(form) }}
{% endblock %}
